<div th:fragment="validation" style="display: none;">
    <!-- OOB Swaps for validation error messages -->
    <span id="err-firstName" hx-swap-oob="true" class="text-xs text-red-600 block absolute -bottom-5"
          th:text="${#fields.hasErrors('person.firstName')} ? ${#fields.errors('person.firstName')[0]} : ''"></span>

    <span id="err-lastName" hx-swap-oob="true" class="text-xs text-red-600 block absolute -bottom-5"
          th:text="${#fields.hasErrors('person.lastName')} ? ${#fields.errors('person.lastName')[0]} : ''"></span>

    <span id="err-nationality" hx-swap-oob="true" class="text-xs text-red-600 block absolute -bottom-5"
          th:text="${#fields.hasErrors('person.nationality')} ? ${#fields.errors('person.nationality')[0]} : ''"></span>

    <span id="err-dateOfBirth" hx-swap-oob="true" class="text-xs text-red-600 block absolute -bottom-5"
          th:text="${#fields.hasErrors('person.dateOfBirth')} ? ${#fields.errors('person.dateOfBirth')[0]} : ''"></span>

    <!-- OOB Swap for the Submit Button -->
    <button id="np-submit-btn" hx-swap-oob="true" type="button" @click="document.getElementById('np-submit-btn-hidden').click()"
            th:disabled="${#fields.hasErrors('person.*')}"
            class="w-14 h-14 bg-ihub-teal hover:bg-[#12a1b0] rounded-full text-white shadow-lg flex flex-col items-center justify-center transition-transform hover:scale-105 active:scale-95 disabled:bg-gray-300 disabled:cursor-not-allowed">
        <span class="text-[10px] font-bold tracking-wider uppercase">Save</span>
    </button>
</div>
